<h1><%= @task.title %></h1>

<h3>Details: <%= @task.details %></h3>
<h4>Completed: <%= @task.completed %></h4>

<p><%= link_to "Edit #{@task.title}", edit_task_path(@task) %></p>

<p>
  <%= link_to 'Delete',
    task_path(@task),
    data: { turbo_method: :delete, turbo_confirm: 'Really?' } %>
</p>
<p><%= link_to "Back to All Tasks", tasks_path %></p>
